<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            <h4>My user info widget1</h4>
            <b>Username:</b> {{ entity.username }}
        </div>
    </div>
</div>